.text {
    max-width: 752px;
    padding: 24px;
    margin: 24px 24px 16px;
    background-color: #fff;
}
.text__content {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
@media (max-width: 767px) {
    .text {
        margin: 24px 16px 16px;
        padding: 16px;
    }
}
