.newPassword__form .errorAndWarningComponent__title {
    font-size: 24px;
}
.content__buttons_form.newPassword__form {
    margin: 32px 0 0 0;
}
.form__password.registration__form__password.newPassword__item {
    margin: 0 0 16px 0;
}
.form__password.twoPassword.recovery__twoPassword {
    margin: 46px 0 64px 0;
}
